<table class="table" style="margin-top: 50px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Dernière connexion plateforme</th>
        <th scope="col">Dernière connexion au cours</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
{{#students}}
    <tr class="{{ class }}">
        <td><img src="{{ picture }}" class="userpicture defaultuserpic" width="35" height="35"><strong>{{ lastname }}, {{ firstname }}</strong></td>
        <td><a href="mailto:{{ email }}">{{ email }}</a></td>
        <td>{{ lastaccess }}</td>
        <td>{{ lastaccesscourse }}</td>
        <td><a href="{{ url }}" class="btn btn-dark" role="button" aria-pressed="true" target="_blank">Statistiques</a></td>
    </tr>
{{/students}}
    </tbody>
</table>
